<div class="row">
  <div class="col-md-12">
    <p class="display-4">Dashboard</p>

  </div>
</div>
<div class="row">
  <div class="col-md-3 col-6" (click)="navigate(['/admin', 'categories'])">
    <div class="square">
      <div class="content">
        <h2 class="tile-title">
          Categories
        </h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6" (click)="navigate(['/admin', 'products'])">
    <div class="square">
      <div class="content">
        <h2 class="tile-title">Products</h2>
      </div>
    </div>
  </div>
</div>
