.body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: coral;
}
.text-white {
  color: white;
}
.main-text{
  font-size: 6rem;
  line-height: 1.2;
}
