<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-white">
        <strong class="main-text">Thank you</strong>
        <br>
        <h2>For your Interest. We will be opening shortly.</h2>
        <br>
        <h1>Till Then you can shop from our <a href="https://www.facebook.com/tiskah/">Facebook Page.</a></h1>
        <br>
        <a href="https://www.facebook.com/tiskah/"><img src="../../../assets/FBICON.svg" alt="FBICON"></a>
      </div>
    </div>
  </div>
</div>
