<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h4>Select Address</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let address of addresses">
        <div>
          <strong>{{address.firstName}}&nbsp;{{address.lastName}}</strong> <br>
          <span>{{address.mobileNumber}}</span> <br>
          <span>{{address.addressLine1}}</span> <br>
          <span>{{address.city}} </span> <br>
          <span>{{address.state}}
            <strong>{{address.postCode}}</strong></span> <br>
          <button class="btn btn-block {{address.isSelected?'btn-outline-primary':'btn-primary'}}" [disabled]="address.isSelected"
            (click)="onAddressSelect(address)">{{address.isSelected?'Selected Address':'Deliver to This Address'}}</button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <i class="fa fa-plus add-icon" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 add-address-text">
            Add New Address
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Review Products</h4>
      </div>
    </div>
    <div class="row mb-3" *ngFor="let item of cartItems">
      <div class="col-md-2">
        <div class="justify-content-left">
          <img class="{{item.isOutOfStock? 'out-of-stock': ''}}" width="100" height="100" [src]="item.thumbUrl" alt="">
          <div id="outOfStock" *ngIf="item.isOutOfStock">
            <h4>
              Out Of Stock
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <strong>{{item.productName}}</strong><br>
        <span>{{item.description}}</span><br>
        <span><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{item.price * item.orderQuantity}}
          <span *ngIf="item.orderQuantity > 1">
            ({{item.orderQuantity}} of <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{item.price}} Each)
          </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{totalCartValue}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn {{paymentMethod === 'COD'?'btn-outline-primary':'btn-primary'}}" (click)="setPaymentMethod('COD')">COD</button>
        <button class="btn {{paymentMethod !== 'COD'?'btn-outline-primary':'btn-primary'}}" (click)="setPaymentMethod('Prepaid')">Prepaid</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button (click)="placeOrder()">Place Order</button>
      </div>
    </div>
  </div>
</div>
