<div class="row">
  <div class="col-md-3 d-sm-none d-md-block d-none">
    <div class="row" *ngFor="let filter of productFiters">
      <div class="col-md-12">
        <strong>{{filter.name}}</strong>
        <span *ngFor="let value of filter.value">{{value}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4 col-sm-6 col-6">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-primary" (click)="loadMore()">Load More</button>
      </div>
    </div>
  </div>
</div>