<div class="product-container {{product.isMouseIn?'product-container-color':''}}" (mouseenter)="onMouseEnter(product)"
  (mouseleave)="onMouseLeave(product)">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <img class="product-image" [src]="product.thumbnailUrl" alt="product.name" (click)="goToProduct(product)">
      <label class="btn btn-light btn-sm rounded-circle btn-add-to-wishlist" (click)="addToWishlist(product)"><i class="fa fa-heart {{isInWishList(product)?'red-color':''}}"
          aria-hidden="true"></i></label>
    </div>
  </div>
  <div class="row" *ngIf="product.isMouseIn">
    <div class="col-md-12 d-flex justify-content-around" *ngIf="isLoggedin">
      <button class="btn btn-light btn-sm" (click)="addToCart(product)" [disabled]="isInCart(product)"><i class="fa fa-cart-plus"
        aria-hidden="true"></i> {{isInCart(product)?'Added to Cart':'Add to Cart'}}</button>
    </div>
    <div class="col-md-12 d-flex justify-content-around" *ngIf="!isLoggedin">
      please log in
    </div>
  </div>
  <div class="row" *ngIf="!product.isMouseIn">
    <div class="col-md-12 text-row d-flex justify-content-around">
      <button class="btn btn-sm btn-block text-row product-name"><strong class="">{{product.name}}</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-around">
      <div *ngIf="product.isOnSale">
        <button class="btn btn-sm text-row product-price">
          <i class="fa fa-inr" aria-hidden="true"></i> &nbsp;{{product.salePrice}}
          <span class="strike"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{product.price}}</span>
          {{calculateDiscount()}}
        </button>
      </div>
      <div *ngIf="!product.isOnSale">
        <button class="btn btn-sm text-row product-price">
          <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;{{product.price}}
        </button>
      </div>
    </div>
  </div>
</div>
